<div class="row">

    <div class="page-header">
        <h2>Add Purchaser</h2>
    </div>

    <form name="newPurchaserForm" novalidate ng-submit="addPurchaser(newPurchaser)">

        <div class="row">
            <div class="col-md-12">
                <span class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" ng-model="newPurchaser.firstName"/>
                </span>
                <span class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" ng-model="newPurchaser.lastName"/>
                </span>
                <span class="form-group">
                    <label for="companyName">Company Name</label>
                    <input type="text" id="companyName" ng-model="newPurchaser.companyName"/>
                </span>
                <span class="form-group">
                    <label for="eCountEmailAddress">Email Address</label>
                    <input type="text" id="eCountEmailAddress" ng-model="newPurchaser.eCountEmailAddress"/>
                </span>
            </div>

        </div>

        <input type="submit" class="btn" ng-disabled="newStoreForm.$invalid"/>
    </form>

</div>


